.formBox{
    position:relative;
    text-align:center;
    padding-top:200px;
    font-size:2rem;
}
body{
    background:url("/images/headingInput.jpg")no-repeat;
}
h1{
    color:white;

}
.form{
    color:white;
    
}
